@import './styles/reset.css';
@import './styles/base.css';
@import './styles/components/header.css';

@import './styles/layout.css';

@import './styles/components/editor.css';

@import './styles/components/buttons.css';

@import './styles/components/popup.css';

@import './styles/utilities.css';

@import './styles/media-queries.css';


#shader-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Mantener el shader de fondo detrás del contenido principal */
  pointer-events: none; /* Evitar la interferencia en los eventos de los elementos interactivos */
}
