/* Fondo y contenedor del popup */
.image-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.4s ease;
    opacity: 0;
  }
  
  /* Mostrar el popup con animación */
  .image-popup.show {
    display: flex;
    opacity: 1;
  }
  
  /* Contenido centralizado del popup */
  .popup-content {
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Imagen en el popup */
  .popup-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  /* Botón de cierre en la esquina superior derecha del contenido */
  .close-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .close-popup:hover {
    background: rgba(255, 255, 255, 0.2);
  }


  #generatePopup .popup-content {
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    flex-wrap: nowrap;
    /* height: 250px; */
}

div#sectionGeneratePBRcontentPopPup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

#canvasGeneratePopUpNormal {
    width: 400px;
    height: 400px;
    background: red;
    display: flex;
}
#canvasGeneratePopUpNormal canvas {
    display: flex;
    width: 400px;
    height: 400px;
}

div#guiContainerNormal {
    display: flex;
    position: absolute;
    z-index: 99;
    pointer-events: all;
}