body {

    font-family: 'Rebond Grotesque', sans-serif;
    font-weight: 400;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    min-height: 100vh;
    color: #333;
    padding: 20px;
    flex-direction: column;
}

html {
    font-size: 16px; /* Base para utilizar rem; se adapta mejor al zoom */
    scroll-behavior: smooth; /* Mejor experiencia de navegación */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff96;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}